// Default mixins and settings -----------------
@import "~reveal.js/css/theme/template/mixins";
@import "~reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
// @import "~reveal.js/lib/font/source-sans-pro/source-sans-pro.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,400italic,800italic);


// define consts
$cGreen: #004d61;
$cBlue: #002f5b;
$cMedBlack: rgb(51,51,51);

// Override theme settings (see ~reveal.js/css/theme/template/settings)
$backgroundColor: #fff;

$mainColor: $cMedBlack;
$headingColor: $cGreen;

$mainFontSize: 38px;
$mainFont: 'Open Sans', Impact, sans-serif;

// Headings
$headingFont: 'Open Sans', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 800;
$headingLineHeight: 1.4;
$heading1Size: 1.6em;
$heading2Size: 1.3em;
$heading3Size: 1.0em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

// Links and actions
$linkColor: $cBlue;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;


// Theme template ------------------------------
@import "~reveal.js/css/theme/template/theme";
// ---------------------------------------------
