$pPaddingBottom: 0.3rem;
$pSmallFontSizeFactor: 0.7;

html {
	font-size: 32px;
}

.reveal .slides>section,
.reveal .slides>section>section {
	line-height: 1.5rem;
}

.reveal .slides {
	text-align: left;
}

.spacertop {
	height: 2.0rem;
}

.reveal li {
	margin-bottom: 0.35rem;
}
.reveal ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.reveal h1 {
	font-size: 1.6rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.reveal h2 {
	font-size: 1.3rem;
	color: $cGreen;
	padding-bottom: 0.3rem;
}

.reveal h3 {
	font-size: 1rem;
	// font-weight: 400;
	// color: $cDarkGray;
	// color: $cBlue;
	color: $cGreen;
	padding-bottom: 0.3rem;
}

.reveal code {
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.reveal h4 {
	font-size: 1rem * $pSmallFontSizeFactor;
	padding-bottom: 0.3rem;
}

.reveal h5 {
	font-size: 1rem * $pSmallFontSizeFactor;
	font-weight: 400;
	color: $cGreen;
	padding-bottom: 0.3rem;
}

.reveal p {
	color: $cMedBlack;
	margin-bottom: $pPaddingBottom;
	line-height: 140%;
}


.reveal p.small, .reveal span.small {
	font-size: 1rem * $pSmallFontSizeFactor;
	margin-bottom: $pPaddingBottom;
	// padding-top: 0.5em;
	// color: #888;
	color: $cDarkGray;
}



p.source {
	font-size: 60%;
	padding-top: 0.2rem;
	color: $cGreen;
	font-family: $headingFont;
	text-transform: uppercase;

}

p.source:before
{
	content:"Quelle: ";
}



// footer
$footerMargin: 0.7rem;

.footer,
p.footer {
    // bottom: $footerMargin;
	font-size: 1rem * $pSmallFontSizeFactor;
    bottom: $footerMargin + $pPaddingBottom * $pSmallFontSizeFactor;
    position: absolute;
}
